html
    head
        title GBR_Resume
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css" rel="stylesheet")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js")

    style.
        body{
        size:"A4";
        background-color:white;
        font-weight:bold;
        }
        body::-webkit-scrollbar{
        display:none;
        }
        .two{
        border:2px solid #48535C;
        background-color:#FEFECD;
        margin:30px 15px 30px 30%;
        }
        .left1{
        background:url("images/mypics/z.jpg");
        background-size:375px 320px;
        background-position-x:-13.5px;
        background-position-y:-10px;
        background-repeat:no-repeat;
        width:101.5%;
        height:15%;
        border:6px solid #FD791C;
        color:#FEFECD;
        font-weight:bold;
        font-size:12px;
        padding:80px 0px 0px 15px;
        margin-top:10px;
        margin-left:-5px;
        margin-bottom:10px;
        }        
        .left2{
        background-color:#FD791C;
        color:#fff;
        margin-top:0px;
        margin-left:-5px;
        margin-bottom:10px;
        padding:3px 13px 0px 13px;
        text-align: justify;
        }
        .right{
        background-color:#FEFECD;
        height:1585px;
        width:66%;
        border-left:4px solid #48535C;
        margin-top:-10px;
        margin-left:33%;
        padding:0px 13px 0px 13px;
        }
        .bar1{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#FEFECD;
        border-radius:3px;
        height:16px;
        width:100%;
        }
        .bar2{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#48535C;
        color:#FEFECD;
        border-radius:3px 0px 0px 3px;
        height:16px;
        width:80%;
        font-size:10.3px;
         padding-top:2px;
        text-align:center;
        }
        .bar3{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#FEFECD;
        border-radius:3px;
        height:16px;
        width:100%;
        }
        .bar4{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#48535C;
        color:#FEFECD;
        border-radius:3px 0px 0px 3px;
        height:16px;
        width:70%;
        font-size:10.3px;
         padding-top:2px;
        text-align:center;
        }
        .bar5{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#FEFECD;
        border-radius:3px;
        height:16px;
        width:100%;
        }
        .bar6{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#48535C;
        color:#FEFECD;
        border-radius:3px 0px 0px 3px;
        height:16px;
        width:80%;
        font-size:10.3px;
         padding-top:2px;
        text-align:center;
        }
        .bar7{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#FEFECD;
        border-radius:3px;
        height:16px;
        width:100%;
        }
        .bar8{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#48535C;
        color:#FEFECD;
        border-radius:3px 0px 0px 3px;
        height:16px;
        width:85%;
        font-size:10.3px;
         padding-top:2px;
        text-align:center;
        }
        .bar9{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#FEFECD;
        border-radius:3px;
        height:16px;
        width:100%;
        }
        .bar10{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#48535C;
        color:#FEFECD;
        border-radius:3px 0px 0px 3px;
        height:16px;
        width:65%;
        font-size:10.3px;
         padding-top:2px;
        text-align:center;
        }
        .bar11{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#FEFECD;
        border-radius:3px;
        height:16px;
        width:100%;
        }
        .bar12{
        background-color:#48535C;
        color:#FEFECD;
        border-radius:3px 0px 0px 3px;
        height:16px;
        width:60%;
        font-size:10.3px;
         padding-top:2px;
        text-align:center;
        }
        li{
        list-style-type:none;
        line-height:30px;
        }
        p{
        font-size:15px;
        display:inline-block;
        }
        h1{
        font-family: 'Bungee';
        font-size: 100px;
        text-align: center;
        color: #FD791C;
        text-shadow: 0px 0px 1px #FD791C,0px 0px 1px #FD791C,0px 0px 1px #FD791C,0px 0px 1px #FD791C,0px 0px 1px #FD791C,0px 0px 1px #FD791C,0px 0px 1px #FD791C,1px 1px 1px #767676,0px 2px 2px #868585;
        text-transform: capitalize;
        }
        h3{
        color:#48535C;
        font-weight:bold;
        border-bottom:4px solid #48535C;
        }
        .i1{
        color: #48535C;
        padding-right:5px;
        font-weight:bold;
        }
        .mca{
        padding:0px 0px 20px 8px;
        font-size:25px;
        font-weight:bold;
        color: #48535C;
        border-bottom:4px solid #48535C;
        }
        .i2{
        font-size:24px;
        font-weight:bold;
        color: #FD791C;
        margin-bottom:0px;
        padding-top:10px;
        text-shadow:0px 0px 1px #FD791C;
        }
        .i3{
        font-weight:bold;
        font-size:18px;
        padding-right:10px;
        }
        .i4{
        color: #48535C;
        line-height:28px;
        padding-left:35px;
        text-align:justify;
        }
        .s{
        width:50px;
        height:50px;
        }
        .i6:before{
        content:'Description';
        font-weight:bold;
        font-size:17px;
        text-shadow:0px 0px 1px #48535c;
        }
        .i7:before{
        content:'Code used';
        font-weight:bold;
        font-size:17px;
        text-shadow:0px 0px 1px #48535c;
        }


          
    body
        .container.two
            .row
                .col-md-4
                    .left1.bgSizeContain
                    .left2
                        h3 Contact details
                        span(style="display:inline-block;")
                            .fa.fa-search(style="font-size:14px;margin-right:7.5px;color: #48535C;")
                            p websites : gbr-mobile.herokuapp.com
                        span(style="display:inline-block;")
                            .fa.fa-search(style="font-size:14px;margin-right:7.5px;color: #48535C;")
                            p gbr-psite.herokuapp.com
                        span(style="display:inline-block;")
                            .fa.fa-search(style="font-size:14px;margin-right:7.5px;color: #48535C;")
                            p gbr-cryptocurrency.herokuapp.com
                        span(style="display:inline-block;")
                            .fa.fa-search(style="font-size:14px;margin-right:7.5px;color: #48535C;")
                            p gbr-notice.herokuapp.com
                        span(style="display:inline-block;")
                            .fa.fa-phone(style="font-size:14.5px;margin-right:8px;color: #48535C;")
                            p +91 9493818156
                        br
                        span(style="display:inline-block;")
                            .fa.fa-envelope(style="font-size:13px;margin-right:6.5px;color: #48535C;")
                            p mcababu1820@gmail.com
                        span(style="display:inline-block;")
                            .fa.fa-map-marker(style="font-size:17px;margin-right:8px;color: #48535C;padding-left:2px;")
                            p D.no:7-7-28, Sri Lakshminivas aprt., Block-B
                            br
                            p(style="padding-left:20px;") Pattabhi St.,Ramaropeta,
                            br
                            p(style="padding-left:20px;") Kakinada - 533004.
                    
                        h3(style="margin-top:3px;margin-bottom:5px;") Accomplishments
                        span(style="display:inline-block;padding-top:0px;")
                            .fa.fa-thumbs-o-up.i1
                            p Achieved first prize in drawing competition
                        span(style="display:inline-block;")
                            .fa.fa-thumbs-o-up.i1
                            p Completed skill development & training by
                            p(style="padding-left:18px;") MEPMA
                        br
                        br
                    
                        h3(style="margin-top:-9px;margin-bottom:12px;") Hobbies
                        .fa.fa-music(style="font-size:17.5px;margin-right:5px;padding-left:1px;border-right:2px solid #48535C;width:27px;")
                        .fa.fa-stack-overflow(style="font-size:17.5px;margin-right:7px;border-right:2px solid #48535C;width:27px;padding-left:3px;")
                        .fa.fa-paint-brush(style="font-size:17.5px;margin-right:6px;border-right:2px solid #48535C;width:25px;")
                        .fa.fa-gamepad(style="font-size:17.5px;margin-right:10px;border-right:2px solid #48535C;width:27px;")
                        .fa.fa-pencil-square-o(style="font-size:17.5px;margin-right:7px;border-right:2px solid #48535C;width:26px;")
                        .fa.fa-puzzle-piece(style="font-size:17.5px;margin-right:8px;border-right:2px solid #48535C;width:25.90px;padding-left:2px;")
                        .fa.fa-google(style="font-size:17.5px;margin-right:8px;border-right:2px solid #48535C;width:26px;")
                        .fa.fa-instagram(style="font-size:17.5px;margin-right:8px;border-right:2px solid #48535C;width:25.90px;")
                        .fa.fa-linkedin-square(style="font-size:17.5px;margin-right:8px;border-right:2px solid #48535C;width:28px;")
                        .fa.fa-youtube(style="font-size:17.5px;margin-right:0px;width:25px;padding-left:3px;")

                    
                        h3(style="margin-top:24px;margin-bottom:12px;") Professional Skills
                        p HTML5
                            .bar1 
                                .bar2 80%
                        br
                        p CSS3
                            .bar3
                                .bar4 70%
                        br
                        p Basic JavaScript
                            .bar5
                                .bar6 80%
                        br
                        p Core Java
                            .bar7
                                .bar8 85%
                        br
                        p MongoDB
                            .bar9
                                .bar10 65%
                        br
                        p Basic Angular8
                            .bar11
                                .bar12 60%

                        h3 Achievements
                        span(style="display:inline-block;padding-top:5px;")
                            .fas.fa-medal.i1
                            p Participated in Inter collegiate technical
                            p(style="padding-left:18px;text-align:justify;") event "SCIENTIA-2K19"
                        span(style="display:inline-block;")
                            .fas.fa-medal.i1
                            p Completed JAVA Training in NIIT
                        span(style="display:inline-block;")
                            .fas.fa-medal.i1
                            p Participated as a volunteer in Inter college
                            p(style="padding-left:18px;") seminar on R-Lang
                        span(style="display:inline-block;")
                            .fas.fa-medal.i1
                            p Organizer in 'MCA College Feista' event
                        span(style="display:inline-block;")
                            .fas.fa-medal.i1
                            p(style="margin-bottom:0px;") Participated in Big data analytics workshop
                                                
                        h3 Languages Known
                        span(style="display:inline-block;margin-top:-5px;")
                            p(style="padding:10px 0px 0px 9px;") English
                            br
                            span(style="color:#48535C;font-size:16px;")
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star-o
                        span(style="display:inline-block;margin-top:-5px;margin:0px 57.3px 0px 57.3px;")
                            p(style="padding-left:18.5px;") Hindi
                            br
                            span(style="color:#48535C;font-size:16px;")
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star-o
                                .fa.fa-star-o
                        span(style="display:inline-block;margin-top:-5px;")
                            p(style="padding-left:13px;") Telugu
                            br
                            span(style="color:#48535C;font-size:16px;")
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star
                                .fa.fa-star
                        br
                        br
                    
                .right
                    h1 Bhargava Gidijala
                    h2.mca (Master of computer applications)
                    span(style="display:inline-block;margin-bottom:5px;")
                        .fas.fa-user-tie.i2(style="color:#48535C;padding-right:8px;font-size:24.5px;text-shadow:0px 0px 1px #48535c;")
                        p.i2(style="padding-left:3.6px;") Carrer objective
                        p.i4(style="margin-bottom:-5px;") Highly organized and detail-oreinted honors graduate from the univeristy of JNTUK, seeking an entry-level position to begin my career as a software engineer by working on challeging projects. Further want to deal with each and every aspect and work related to computer engineering.

                    span(style="display:inline-block;margin-top:-5px;")
                        .fa.fa-code.i2(style="color:#48535C;padding-right:8px;text-shadow:0px 0px 1px #48535c;")
                        p.i2 Academic projects
                        br
                        p.i4(style="margin-bottom:0px;font-size:17px;text-shadow:0px 0px 1px #48535c;") 1) Mobile seize application for storage and data retrival
                        span(style="display:inline-block;")
                            p.i4.i6(style="word-spacing:1px;") &#8196:&#8196In this application, if a student got caught using mobile within class-room, his/her
                            p.i4(style="padding-left:143px;margin-top:-10px;") mobile will get seized by concern faculty. The problem is when returning a mobile back to the student, there is a chance of wrong delivery and unnecessary communications between student and faculty, because of insufficient data taken while seizing a mobile. Using this application we can avoid such problems by entering exact details into our system and generating a bill containing those details along with faculty and student's signature on it.
                        span(style="display:inline-block;margin-top:-10px;")
                            p.i4.i7 &#8196&#8198&#8197: PUG,CSS,BootStrap,MongoDB,ExpressJS,NodeJS,JQuery,JavaScript.

                        p.i4(style="margin-top:0px; font-size:17px;text-shadow:0px 0px 1px #48535c;") 2) Student admission system(mini project)
                        br
                        span(style="display:inline-block;margin-top:-10px;")
                            p.i4.i6(style="word-spacing:3.1px;") &#8196:&#8196This application provides the student an easy way, to select respective college 
                            p.i4(style="padding-left:143px;margin-top:-10px;") based on percentage he scored in board exams.He'll be displayed with list of available universities with concern details so that he can apply for admission without enquiring all colleges. By this application one can reduce time consumption during maintaining records of college admisson process.
                        span(style="display:inline-block;margin-top:-10px;")
                            p.i4.i7(style="margin-bottom:-2px;") &#8196&#8198&#8197: HTML,CSS,BootStrap,MongoDB,AngularJS,JavaScript.
                        br

                        .fa.fa-code.i2(style="color:#48535C;padding-right:8px;text-shadow:0px 0px 1px #48535c;")
                        p.i2 Other projects
                        br
                        p.i4(style="margin-bottom:0px;") 1) Live Cryptocurrency(only UI)
                        br
                        p.i4(style="margin-bottom:0px;") 2) E-Commerce site
                        br
                        p.i4(style="margin-bottom:0px;") 3) Personal website(Todo list,Covid-19 live update,Media download,Event calendar,Games)
                        br
                        p.i4(style="margin-bottom:0px;") 4) Online notice board(Cloud database)
                        br
                        p.i4(style="margin-bottom:0px;") 5) Digital resume
                        br
                        p.i4(style="margin-bottom:-2px;") 6) Signup/login with password encryption
                        br

                        .fa.fa-graduation-cap.i2(style="color:#48535C;padding-right:8px;text-shadow:0px 0px 1px #FEFECD;font-size:20px;")
                        p.i2(style="margin-bottom:8px;") Educational qualifications
                        br
                        
                        .row(style="color:#48535C;")
                            .col-md-2
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:35px;") 2020 
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:35px;margin-top:44px;") 2017
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:35px;margin-top:44px;") 2013
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:35px;margin-top:44px;") 2011
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:35px;margin-top:44px;") 2009
                                br
                                
                            .col-md-7
                                p(style="text-shadow:0px 0px 1px #48535c;margin-left:-20px;") :
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:40px;") Master of computer applications
                                p(style="padding-left:25px;margin-top:-8px;") Aditya College of Engineering and Technology
                                p(style="padding-left:25px;margin-top:-8px;") Jawaharlal Nehru Technological University Kakinada
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin-left:-20px;") :
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:40px;") B.Com (computers)
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Gayatri Degree College
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Aadikavi Nannaya University
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin-left:-20px;") :
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:40px;") CA-CPT
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Master Minds
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Institute of Charted Accountancy India
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin-left:-20px;") :
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:40px;") Intermediate (MPC)
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Narayana Junior College
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Board of intermediate
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin-left:-20px;") :
                                p(style="text-shadow:0px 0px 1px #48535c;padding-left:40px;") SSC
                                br
                                p(style="padding-left:25px;margin-top:-8px;") Gowtham Model School
                                br
                                p(style="padding-left:25px;margin-top:-8px;margin-bottom:0px;") Board of Secondary Education

                            .col-md-1
                                p(style="text-shadow:0px 0px 1px #48535c;font-size:58px;font-weight:normal;margin-top:-13px;margin-bottom:-9.5px;") &#125;
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;font-size:59px;font-weight:normal;margin-bottom:-8px;") &#125;
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;font-size:58px;font-weight:normal;margin-top:0px;margin-bottom:5px;") &#125;
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;font-size:58px;font-weight:normal;margin-top:-13px;margin-bottom:5.3px;") &#125;
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;font-size:58px;font-weight:normal;margin-top:-13px;") &#125;
                                
                            .col-md-1
                                p(style="text-shadow:0px 0px 1px #48535c;margin:21px 0px 0px -10px;") (72.825%)
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin:53px 0px 0px -10px;") (57%)
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin:57px 0px 0px -10px;") (Qualified)
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin:52px 0px 0px -10px;") (65.8%)
                                br
                                p(style="text-shadow:0px 0px 1px #48535c;margin:54px 0px 0px -10px;") (74%)


                        .fa.fa-comments-o.i2(style="color:#48535C;padding-right:9px;text-shadow:0px 0px 1px #FEFECD;")
                        p.i2(style="margin-bottom:2px;margin-top:-4px;") Follow me
                        br
                      
                        span(style="display:inline-block;margin-bottom:-2px;color: #48535C;")
                            .fa.fa-github-alt.i1.i4
                            p &#8196https://github.com/bhargavaGidijala-123
                        br
                        span(style="display:inline-block;margin-bottom:-2px;color: #48535C;")
                            .fa.fa-linkedin-square.i1.i4
                            p &#8196https://www.linkedin.com/in/bhargavagidijala
                        br
                        span(style="display:inline-block;margin-bottom:-2px;color: #48535C;")
                            .fa.fa-instagram.i1.i4
                            p &#8196https://www.instagram.com/bhargava_gidijala/?hl=en
                                       
                                               